.logo img{
  margin-left: 160px;
  margin-top: 37.1px;
}


.dizeres{
  position: absolute;
  margin-top: 214px;
  margin-left: 160px;
}

.dizeres h1{
  color: #3C184E;
  font-weight: 900;
  font-size: 64px;
  line-height: 80px;
}

.dizeres p{
  position: absolute;
  margin-top: 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.buttons{
  position: absolute;
  display: flex;
  gap: 24px;
}

.contribuir{
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #713FFF;
  width: 139px;
  height: 43px;
  margin-left: 160px;
  margin-top: 477px;

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}

.contribuir a{
  color: white;
}

.contato{
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 477px;
}

.background{
  position: absolute;
  width: 750px;
  height: 500px;
  margin-left: 691px;
 
  background: linear-gradient(180deg, #3CB7DE 0%, #3FA3FF 100%);

  border-radius: 500px 0px 0px 500px;
  transform: rotate(-17.91deg);
 
}